#root {
  font-family: 'Source Serif Pro', serif;
  top: 30%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

#headline {
  font-size: 30px;
  font-weight: 800;
  color: #8e8e8e;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

#backBtn {
  color: #8e8e8e;
  margin-right: 12px;
}

.line {
  margin: 10px 0px;
}

.line-header {
  margin-top: 20px;
  margin-bottom: 10px;
}

.line-body {
  padding-left: 10px;
}

#links {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#links > * {
  margin: 0px 5px;
}

.svg-container {
  cursor: pointer;
  display: flex;
}

#email {
  color: #6a6a6a;
}

#github {
  color: unset;
}

#linkedin {
  color: #0077b5;
}

@media only screen and (max-width: 767px) {
  #root {
    position: unset;
    transform: unset;
  }
}
